@font-face {font-family: 'Arimo';font-weight:bold;font-style:italic;src: url("XaraWDGeneratedHTMLfont1.woff") format("woff");}
@font-face {font-family: 'Arimo';font-weight:normal;font-style:italic;src: url("XaraWDGeneratedHTMLfont2.woff") format("woff");}
